/* WelcomePage.css */
.fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .welcome-container {
    text-align: center;
    animation: fadeIn;
    margin-top: 100px; /* Adjust as needed */
  }
  